<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Covid 19</title>
    <style>
        nav {
            text-align: center;
            font-size: xx-large;
        }
        table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
      }
      
      .T1 td, th {
        border: 1px solid #dddd;
        text-align: left;
        padding: 8px;
      }
      
      .T1 tr:nth-child(even) {
        background-color: #dddddd;
      }
      
    </style>
</head>
<body>
    <nav>
    <a href="/">Home</a>
    <a href="/about">About</a>
    <a href="/cases">Cases</a>
    <a href="/contacts">Contacts</a>


    </nav>
    <img src="/static/heading.jpg" alt=""width="400px" height="100px">

    <body>
      
      <h2>UPDATES</h2>
      
      <table class="T1">
        <tr>
          <th>REGIONS</th>
          <th>CASES</th>
          <th>RECOVERIES</th>
        </tr>
        <tr>
          <td>Greater Accra Region </td>
          <td>2000</td>
          <td>450</td>
        </tr>
        <tr>
          <td>Eastern Region</td>
          <td>3000</td>
          <td>250</td>
        </tr>
        <tr>
          <td>Central Region</td>
          <td>500</td>
          <td>100</td>
        </tr>
        <tr>
          <td>Ashanti Region</td>
          <td>2000</td>
          <td>500</td>
        </tr>
        <tr>
          <td>Upper East Region</td>
          <td>500</td>
          <td>300</td>
        </tr>
        <tr>
          <td>Volta Region</td>
          <td>4000</td>
          <td>1000</td>
        </tr>
        <tr>
          <td>Northern Region</td>
          <td>2000</td>
          <td>250</td>
        </tr>
        <tr>
          <td>Western Region</td>
          <td>500</td>
          <td>100</td>
        </tr>
        <tr>
          <td>Bono Region</td>
          <td>600</td>
          <td>200</td>
        </tr>
        <tr>
          <td>Bono East Region</td>
          <td>500</td>
          <td>200</td>
        </tr>
        <tr>
          <td>Western North Region</td>
          <td>5000</td>
          <td>300</td>
        </tr>
        <tr>
          <td>Oti Region</td>
          <td>4000</td>
          <td>300</td>
        </tr>
        <tr>
          <td>Ahafo Region</td>
          <td>300</td>
          <td>100</td>
        </tr>
        <tr>
          <td>Upper West Region</td>
          <td>400</td>
          <td>200</td>
        </tr>
        <tr>
           <td>North East Region</td> 
           <td>5000</td>
           <td>300</td>
        </tr>
        <tr>
          <td>Savannah Region</td>
          <td>4000</td>
          <td>400</td>
        </tr>
        <tr>
          <td><b>Total =</b></td>
          <td>3,032,000</td>
          <td>200,000</td>




        </tr>
        













































      </table>
      








</body>
</html>