<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Covid 19</title>
    <style>
        nav {
            text-align: center;
            font-size: xx-large;
        }
        #btn {
            margin: 2rem;
            background-color: royalblue;
            
        }
        .btn :hover {
            background-color: red;
        }
        body {
            background-color: aquamarine;




        }
    </style>
</head>
<body>
    <nav>
    <a href="/">Home</a>
    <a href="/about">About</a>
    <a href="/cases">Cases</a>
    <a href="/contacts">Contacts</a>


    </nav>
    <h2>Send an e-mail</h2>

<form action="mailto:dennisboateng@gmail.com" method="post" enctype="text/plain">
Name:<br>
<input type="text" name="name" placeholder="Full name"><br>
E-mail:<br>
<input type="text" name="mail"><br>
Comment:<br>
<input type="text" name="comment" size="50" ><br><br>
<input type="submit" value="Send">
<br>
</form>
<div>
<button id="btn">
    <a href="https://www.facebook">Facebook</a>
</button>

</div>
</body>
</html>